<div id="cookieConsent" class="alert alert-warning alert-dimissible fade show" role="alert">
      Estoque esgotado! verifique a quantidade atual
</div>
<a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
