@model AppKeener.ViewModels.ProdutoViewModel 
@{
    ViewData["Title"] = "Adicionar produto";
}                

<h1>Adicionar Produto</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>              
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>              
            <div class="form-group">  
                            <label asp-for="ProfileImage" class="control-label"></label>  
                            <div class="custom-file">  
                                <input type="file" asp-for="ProfileImage" class="custom-file-input" id="ProfileImage" >  
                                <label class="custom-file-label" for="ProfileImage">Choose file</label>  
                            </div>  
            <span asp-validation-for="ProfileImage" class="text-danger"></span>  
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-success" /> |
                <a class="btn btn-info"asp-action="Index">Voltar</a>
            </div>
            <br />            
        </form>
    </div>
    @if (ViewBag.Message != null)
    {
          <div id="cookieConsent" class="alert alert-info alert-dimissible fade show" role="alert">
            Produto ja cadastrado
        </div>
           
    }
</div> 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">  
        $(".custom-file-input").on("change", function () {  
            var fileName = $(this).val().split("\\").pop();  
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);  
        });  
    </script>
    
    
}
