@{
    ViewData["Title"] = "App Controle de Estoque";
}

<div class="text-center">
    <h1 class="display-8">Aplicação para cadastro de produtos e gestão de estoque</h1>    
</div>
<div class="text-left list">    
    <h2 class="text-success" > Requisitos</h2>
    <h3>1 - Login</h3>
    <h3>2 - Cadastro</h3>
    <h3>3 - Cadastro de produtos</h3>
    <h3>4 - Listagem de produtos</h3>
    <h3>5 - Cadastro de movimentações</h3>
    <h3>6 - Listagem de movimentações</h3>
 </div>
